<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <title>Blocked Users</title>
</head>
<body>
<div th:insert="fragments/header::header"></div>
<h1>Blocked users</h1>
<div th:if="${blockedUsers}" class="table100">
    <table>
        <thead>
        <tr class="table100-head">
            <th class="column1">User</th>
            <th class="column2">Blocked since</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="instance : ${blockedUsers}">
            <td th:text="${instance.key}" class="column1"></td>
            <td th:text="${instance.value}" class="column2"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>